<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Detalles de su cita">
  <ion-content class="padding">
   <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
    <p ng-value = "{{quote.hospital}}">
      Hospital: {{quote.hospital}}
    </p>

    <p> Servicio: 
      {{quote.service}}
    </p>
    <p> Fecha;
      {{quote.date}}
    </p>
    <p> Hora: 
      {{quote.hour}}
    </p>

    <p> Doctor:
      {{quote.doctor}}
    </p>
    <p> Planta:

      {{quote.floor}}
    </p>
    <p> Seccion:
      {{quote.section}}
    </p>
    <p> Observaciones
      {{quote.observations}}
    </p>

    
    <p > {{quote.ingress}}</p>
    

  </ion-content>
</ion-view>
