<ion-view view-title="Home">
  <ion-content>
  
    <div class="row-fluid col-xs-12 quotesTitle">
      <h3 class="">Mis citas</h3>
    </div>

    <div class="row-fluid col-xs-12 quotesEP">
      <h5 id="nameUser" class=""><span class='glyphicon glyphicon-user'></span></h5>
    </div>

    <div class="row-fluid col-xs-12">     
    
        <p ng-show="!docs.length">
          No existen próximas citas
        </p>
        <ion-list>
             <ion-item ng-repeat="doc in docs" ng-if="docs.length" type="item-text-wrap" class="item-remove-animate row-fluid" href="#/tab/home/{{doc.idQuote}}">
                <h2><span class='glyphicon glyphicon-home resColor'></span>  {{doc.hospital}}</h2>
                <p>  {{doc.service}}</p>
                <p><span class='glyphicon glyphicon-time resColor'></span>  {{doc.date}} - {{doc.hour}}</p>
            </ion-item>
        </ion-list>
      
    </div>

  </ion-content>
</ion-view>
