<ion-view view-title="Citas" align-title="center">
  <ion-content>
    <div class="row-fluid col-xs-12 quotesTitle">
      <h3 class="">Detalles de la cita</h3>
    </div>

    <div class="row-fluid col-xs-12 quotesEP">
      <h5 id="nameUserDetail"><span class='glyphicon glyphicon-user'></span></h5>
    </div>

    <div class="row-fluid col-xs-12">

      <ion-list>
        <ion-item type="item-text-wrap" class="item-remove-animate row-fluid">
          <p class="wrapText"><span class='resColor glyphicon glyphicon-home'></span> {{quote.hospital}}</p>
          <p class="wrapText"> {{quote.service}}</p>
          <p class="wrapText"><span class='resColor glyphicon glyphicon-time'></span> {{quote.date}} - {{quote.hour}}</p>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item type="item-text-wrap" class="item-remove-animate row-fluid">
          <p class="wrapText"><span class='resColor fa fa-stethoscope' aria-hidden="true"></span><b> Médico: </b> {{quote.doctor}}</p>
          <p class="wrapText"><span class='resColor glyphicon glyphicon-send'></span>  Planta {{quote.floor}} | Sección: {{quote.section}}</p>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item type="item-text-wrap" class="item-remove-animate row-fluid">
          <p class="wrapText"><span class='resColor fa fa-comment' aria-hidden="true"></span>  {{quote.observations}}</p>
          <p class="wrapText"> {{quote.ingress}}</p>
        </ion-item>
      </ion-list>

    </div>

  </ion-content>
</ion-view>
