<ion-view view-title="Login" align-title="center">
  <ion-content class="padding">

    	<div style="padding: 20px; margin-top: 25px;" ng-show="login_form"> 
	        
	        <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                </div>
            </div>

	        <form role="form" name="quenda_login" method="post" target="my_iframe">
     
      			<div class="form-group">

				    <div class="input-group">
				      <span class="input-group-addon logIconBtn">
				        <span class='glyphicon glyphicon-bookmark'></span>
				      </span>
				      <input type="text" class="form-control logButton" name="user" placeholder=" Tarjeta sanitaria" ng-model="user" required="required" ng-trim="false" size="40">
				    </div>
 
					<br/>

					<div class="input-group">
				      <span class="input-group-addon logIconBtn">
				        <span class='glyphicon glyphicon-user'></span>
				      </span>
				      <input type="text" class="form-control logButton" name="pass" placeholder=" DNI" ng-model="pass" required="required" ng-trim="false" size="40">
				    </div>

	          		<br/>

	       			<div class="padding">
	              		<button type="button" class="btn button button-full button-positive accessButton" ng-click="loginAction(quenda_login)" size="40">
	              			Entrar 
	              		</button>
	            	</div>

	            </div>
	          
	        </form>
        </div>
    	
    	<div ng-show="validate_msg"><h3 class="msg_wait"><i class="ion-loop"></i> &nbsp;Validando Datos...</h3></div>

  </ion-content>
</ion-view>